html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: auto;
}
#root {
  height: 100%;
}

/*
-------------------------------------------------------------------------------------Landing Page
*/
.LandingPage {
  height: 100%;
  background-image: url("light-grey-terrazzo.png");
}

.LandingPage__wrapper {
  height: 100%;
  margin: 0 auto;
  width: 1400px;
}

.LandingPage__wrapper__grid {
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px auto;
}

@media only screen and (max-width: 1400px) {
  .LandingPage__wrapper {
    width: auto;
  }
}

.HeaderNav {
  background-color: #222;
  color: grey;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.HeaderNav__item {
  padding: 19px;
  margin: 0;
}

.MainNav {
  background-image: url('/MainNav.png');
  background-repeat: no-repeat;
  color: #222;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* grid */
  grid-area: 1 / 1 / 1 / 1;
  z-index: 3;
}

.MainNav__logo {
  padding: 0;
  margin: 0 50px;
}

.MainNav__main-items {
  display: flex;
  justify-content: space-evenly;
} 

.MainNav__main-items__item {
  padding: 10px 10px;
}

.MainNav__main-items__item:hover {
  font-weight: bold;
}

.ImageCarousel {
  grid-area: 1 / 1 / 2 / 1;
  z-index: 1;
}